
<script type="text/javascript" src="/common/static/js/obj_ssobject.js"></script>
<script type="text/javascript" src="/common/static/js/ui_widget_button.js"></script>
<script type="text/javascript" src="/common/static/js/ui_widget_dropdown_button.js"></script>

<script type="text/javascript" src="/rlplug_sync/static/js/obj_revlens.js"></script>
<script type="text/javascript" src="/rlplug_sync/static/js/obj_spinner.js"></script>
<script type="text/javascript" src="/rlplug_sync/static/js/ui_room.js"></script>
<script type="text/javascript" src="/rlplug_sync/static/js/ui_room_list.js"></script>
<script type="text/javascript" src="/rlplug_sync/static/js/ui_room_view.js"></script>


<link rel="stylesheet" type="text/css" href="/rlplug_sync/static/css/room_view.css">